* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content-nav {
    width: 100%;
    background: #161616;
    color: white;
    padding: 10px;
    text-align: center;
    /* display: flex; */
    /* margin: auto; */
    /* position: fixed; */
}

.contenedor {
    margin-top:40px;
}

.content-ti {
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    background: #393E46;
    color: white;
    width: 60%;
    margin: auto;
}

.antesdespues {
    display: inline;
    margin: 100px;
    font-size: 35px;
}
.content-img {
    /* width: 100%; */
    /* height: 400px; */
    text-align: center;
    display: flex;
    width: 60%;
    height: 50%;
    margin: 40px auto;
    padding: 30px;
    border: 5px solid #393E46;
}

.imgs {
    width: 50%;
    /* display: block; */
    text-align: center;
    object-fit: cover;
    margin: 10px;
    margin: auto;
}

.content-explicacion {
    /* position: absolute; */
    height: fit-content;
    text-align: center;
    padding: 10px;
    background: #161616;
    color: white;
    border-radius: 5px;
    display: block;
}